{% extends "base.html" %}
{% load i18n bootstrap %}

{% block body %}
<h1>{% trans "Bulk Invite Users" %}</h1>

<div class="row container">
  <div class="col-md-6 col-md-offset-4">

    <form method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      <fieldset>
        {{ form.non_field_errors }}

        <label class="my-1">{% trans "Upload CSV file" %}</label>
        {% render_field form.file %}

        <p class="text-center"><em>{% trans "OR" %}</em></p>

        <label class="my-1">{% trans "Paste emails (one per line)" %}</label>
        {% render_field form.emails %}

        <label class="my-1" for="{{ form.group.id_for_label }}">{% trans "Team" %}</label>
        {% render_field form.group %}

        <label class="my-1" for="{{ form.expiry_date.id_for_label }}">{% trans "Expiry date (optional)" %}</label>
        {% render_field form.expiry_date %}

        <input
          type="submit"
          value="{% trans 'Send Invitations' %}"
          class="btn btn-lg btn-success btn-block"
        >
      </fieldset>
    </form>

  </div>
</div>
{% endblock %}
